@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
.main-menu li a.nav-link{
    font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 28px;

color: #676565;
}